/* section01 mobile css */

@media screen and (max-width:767px) {
    .section01{
        max-height: 100%;
    }

    .main-hero .main-hero-img{
        background-image: url(/images/genesis-main-hero2.jpg);
    }
    
    .main-hero .main-hero-slide{
        top: 40px;
        margin-left: 20px;
    }

    .main-hero .main-hero-slide .text-nodes h2, .main-hero .main-hero-slide .text-nodes p {
        font-size: 16px;
    }

    .main-hero .cta-nodes{
        top: 500px;
    }

    .main-hero .cta-nodes .cta-nodes_wrap{
        flex-direction: column;
        row-gap: 26px;
    }

    .main-hero .cta-nodes .cta-nodes_wrap span{
        font-size: 16px;
    }
}

/* section02 mobile css */

@media screen and (max-width:767px) {
    .section02{
        padding: 200px 30px 0 30px;
    }

    .section02 .section02-lineup .section02-desc{
        font-size: 16px;
        line-height: 32px;
    }

    .section02 .section02-catebox:nth-child(2), .section02 .section02-catebox:nth-child(3){
        display: none;
    }

    .section02 .section02-catebox{
        width: 100%;
    }
}

/* section03 mobile css */

@media screen and (max-width:767px) {
    .section03{
        padding: 120px 0;
    }

    .section03 .section03-wrap{
        flex-direction: column;
    }

    .section03 .section03-wrap .icon-box{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        column-gap: 16px;
        padding: 30px;
        border-top: 1px solid #2c2c2c;
    }

    .section03 .section03-wrap .icon-box:nth-child(1){
        border-top: none;
    }

    .section03 .section03-wrap .icon-box img{
        width: 28px;
    }

    .section03 .section03-wrap .icon-box p{
        margin-top: 0;
    }

}

/* section04 mobile css */

@media screen and (max-width:767px) {
    .section04 .section04-background{
        background-size: 200%;
    }

    .section04 .section04-swiper{
        height: fit-content;
    }

    .section04 .section04-slide{
        max-width: 85%;
    }

    .section04 .section04-swiper .section04-slide-content strong{
        font-size: 12px;
    }

    .section04 .section04-swiper .section04-slide-content p{
        padding: 10px 0;
        font-size: 20px;
    }

    .section04 .section04-swiper .section04-slide-content span{
        font-size: 12px;
        line-height: 24px;
    }

    .section04 .section04-swiper .section04-slide-content a{
        font-size: 12px;
    }

    .section04 .section04-pagenation{
        display: none;
    }


}

/* section05 mobile css */

@media screen and (max-width:767px) {
    .section05{
        flex-direction: column;
        height: 1700px;
        gap: 0;
        margin-bottom: 250px;
    }

    .section05 .section05-imgbox .section05-content span{
        font-size: 30px;
    }

    .section05 .section05-imgbox .section05-content p,
    .section05 .section05-imgbox .section05-content a{
        font-size: 14px;
    }

    .section05 .section05-imgbox .section05-content{
        padding: 25px 35px 0 25px;
    }        
}

@media screen and (max-width:500px){
    .section05{
        height: 1200px;
    }
}

/* section06 mobile css */

@media screen and (max-width:767px){
    .section06{
        height: 150vw;
    }

    .section06 .section06-img{
        background-image: url(/images/section06-2.jpg);
    }

    .section06 .section06-content{
        margin: 0;
        width: 100%;
        padding: 0 30px;
    }

    .section06 .section06-content h2{
        font-size: 36px;
    }

    .section06 .section06-content p{
        font-size: 24px;
        margin: 35px 0 35px 0;
    }

    .section06 .more-btn{
        width: 100%;
    }
}

/* section07 mobile css */

@media screen and (max-width:767px) {
    .section07 .section07-contentbox .section07-box_wrap{
        flex-direction: column;
        row-gap: 72px;
    }

    .section07 .section07-contentbox .section07-box{
        width: 100%;
    }

    .section07 .section07-contentbox{
        padding: 0 20px;
    }

    .section07 .section07-contentbox .section07-box span{
        font-size: 18px;
    }

    .section07 .section07-contentbox .section07-box p{
        font-size: 16px;
    }
}